* {
  font-family: Lato;
  box-sizing: border-box;
}

// Some basic styles you can replace

// Variables
$border-color: #999;
$background-color: #666;
$background-color-darker: #555;

// I hate bright white backgrounds
body {
  background-color: #333;
  color: #999;
  padding: 1rem;
}
// Example centered container box
.container {
  display: block;
  max-width: 800px;
  margin: 0 auto 1.5rem;
  background-color: $background-color;
  border: 1px solid $border-color;
  color: #ccc;
}

// Basic Flexbox Row-Column Layout
.row {
  display: flex;
  justify-content: space-between;

  // Rows that are slightly darker
  &.backgound-darker {
    background-color: $background-color-darker;
  }

  // Borders betweem the rows
  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }

  .column {
    padding: 1rem;
    flex: 1;
    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }

    // Columns with specific styles
    &.shrink {
      flex-grow: 0;
      flex-basis: fit-content;
    }
    &.tools {
      background-color: #777;

      // Space out buttons from each other
      button:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
    // Add New User column
    &.add-new {
      text-align: right;
    }
  }
}
