* {
  font-family: Lato;
  box-sizing: border-box;
}

// Some basic styles you can replace

// I hate bright white backgrounds
body {
  background-color: #333;
  color: #999;
  padding: 1rem;
}
// Example centered container box
.container {
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 0.25rem 1.5rem 0.5rem;
  background-color: #666;
  border: 1px solid #999;
  color: #ccc;
  border-radius: 0.5rem;
}
