<h1>Cohesion Boilerplate</h1>
<p>Angular {{ angularVersion }}, NodeJS, Express, Mongo</p>
<hr />

<h2>CRUD Operations</h2>

<div class="container">
  <div class="row" *ngFor="let user of users">
    <div class="column shrink">{{ user.id }}</div>
    <div class="column shrink">{{ user.email }}</div>
    <div class="column">{{ user.name }}</div>
    <div class="column shrink tools">
      <button>Edit</button>
      <button (click)="deleteUser(user.id)">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="column add-new">
      <button>Add New User</button>
    </div>
  </div>
</div>
